#watchlist_container{
    margin-top: 50px;
}

.form_watchlist::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1;
}

.pl_header, .pl_section__elements, .pl_section__footer, .pl_section__header {
    position: relative;
    padding-right: 11px;
    padding-left: 11px;
}

.pl_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}
.pl_header:before, .pl_section__elements:before, .pl_section__footer:before, .pl_section__header:before {
    left: 11px;
}
.pl_header:after, .pl_section__elements:after, .pl_section__footer:after, .pl_section__header:after {
    right: 11px;
}
.pl_header:after, .pl_header:before, .pl_section__elements:after, .pl_section__elements:before, .pl_section__footer:after, .pl_section__footer:before, .pl_section__header:after, .pl_section__header:before {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 1px;
    content: "";
    background-color: #f0f0f0;
}

.pl_header__title {
    margin: 0 0 10px;
    flex-basis: calc(66.66667% - 7px);
    flex-grow: 1;
    max-width: calc(66.66667% - 7px);
    text-transform: uppercase;
}

.title-72 {
    font-family: Gotham,Arial,sans-serif;
    letter-spacing: .125rem;
    font-size: 1.275rem;
    line-height: 1.16667;
}
.pl_section {
    text-transform: uppercase;
}


.pl_section__header {
    padding: 10px 0 6px;
    text-align: center;
}

.title-36-light {
    font-family: Gotham Black,Arial,sans-serif;
    letter-spacing: .0625rem;
    font-size: 1.125rem;
    line-height: 1.38889;
    font-family: Gotham Light,Arial,sans-serif;
}
.pl_section__elements-wrapper {
    position: relative;
}

.pl_section__elements-wrapper:before {
    background: repeating-linear-gradient(90deg,#f0f0f0,#f0f0f0 1px,0,transparent 50%);
    position: absolute;
    top: 0;
    right: 11px;
    bottom: 0;
    left: 11px;
    display: block;
    content: "";
}
.pl_header, .pl_section__elements, .pl_section__footer, .pl_section__header {
    position: relative;
    padding-right: 11px;
    padding-left: 11px;
}

.pl_section__elements {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
ol, ul {
    list-style: none;
}

/* .pl_section__elements .ts_watch {
    border: 0!important;
} */

.ts_watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    padding: 0;
    text-align: center;
}


.ts_watch__tile {
    z-index: 1;
    align-self: stretch;
    height: 100%;
    padding-bottom: 60px;
    margin: 0 0.5px;
    color: inherit;
    text-decoration: none;
}
.ts_watch__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

figure, form {
    margin: 0;
}


.sc_watch__label-list {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    padding: 0 11px;
    margin: 0;
}
.sc_watch__label-list li:first-of-type {
    margin-left: 0;
}
.sc_watch__label-list li {
    display: inline-block;
    margin-left: 5px;
}
.sc_watch__label-list li span {
    display: block;
}

.sc_watch__new_label {
    padding: 4px;
    line-height: 1.2;
    color: #fff;
    background-color: #de2b2b;
}
.label-10 {
    font-family: Gotham Bold,Arial,sans-serif;
    font-size: .625rem;
    line-height: 1.5;
    letter-spacing: .125rem;
}

.ts_watch__card img {
    margin-top: 10px;
}

.ts_watch img {
    max-width: 176px;
    height: 270px;
}

.ts_watch img {
    width: 100%;
    height: 450px;
    -o-object-fit: contain;
    object-fit: contain;
}
.ts_watch figcaption {
    flex-grow: 1;
    padding: 0 10px;
}
.ts_watch figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
}

.ts_watch__collection {
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-top: 15px;
}

.label-12 {
    font-family: Gotham,Arial,sans-serif;
    font-size: .625rem;
    line-height: 1.5;
    letter-spacing: .125rem;
    font-family: Gotham Black,Arial,sans-serif;
}
.ts_watch figcaption .title-16 {
    margin-top: 10px;
    margin-bottom: 21px;
}


.ts_watch__subcollection {
    font-size: 12px;
    line-height: 1.5;
}
.title-16 {
    font-family: Gotham Black,Arial,sans-serif;
    letter-spacing: .0625rem;
    font-size: 1rem;
    line-height: 1.5;
}

.ts_watch__divider {
    width: 20px;
    height: 3px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: 21px;
    background: #de2b2b;
}

.tooltip-relative {
    position: relative;
}

.ts_watch__price {
    font-size: 12px;
    line-height: 1.66667;
    letter-spacing: 1.5px;
}
.tooltip-relative {
    position: relative;
}
.label-14 {
    font-family: Gotham Bold,Arial,sans-serif;
    font-size: .875rem;
    line-height: 1.78571;
    letter-spacing: .1875rem;
}

.wl_button--tile-cta {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    display: inline-flex;
    padding: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: background-color .2s linear;
    outline: 0;
    transition: background-color .2s linear,box-shadow .2s linear;
}
.wl_button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}
.wl_button__icon {
    display: inline-flex;
    justify-content: center;
    transition: transform .3s;
    transform: scale(1);
}
span[class*=" icon-"]:before, span[class^=icon-]:before {
    font-family: icons!important;
    font-display: swap;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wishlist:before {
    content: "\F129";
}

.ts_watch__tile:focus-within:before, .ts_watch__tile:focus:before, .ts_watch__tile:hover:before {
    right: 100%;
    width: 100%;
}
.ts_watch__tile:focus:before, .ts_watch__tile:hover:before, .ts_watch__tile[focus-within]:before {
    right: 100%;
    width: 100%;
}
.ts_watch__tile:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 0;
    height: 100%;
    content: "";
    background: #f3f3f3;
    opacity: .3;
    transition: .7s;
}

.css-i4bv87-MuiSvgIcon-root {
    margin: 10px;
}








/* responsive */
@media (min-width: 1024px){
.pl_header {
    padding: 70px 0;
}

.pl_header__title {
    margin: 0 0 30px;
    flex-basis: calc(80% + 39.6px);
    flex-grow: 1;
    max-width: calc(80% + 39.6px);
}

.title-72 {
    font-family: Gotham Black,Arial,sans-serif;
    letter-spacing: .125rem;
    font-size: 4.5rem;
    line-height: 1;
}

.pl_section__header {
    padding: 40px 0;
    text-align: left;
}

.pl_section__title {
    margin-left: 70px;
}

.title-36-light {
    font-family: Gotham Black,Arial,sans-serif;
    letter-spacing: .125rem;
    font-size: 2.25rem;
    line-height: 1.11111;
    font-family: Gotham Light,Arial,sans-serif;
}

.pl_section__elements-wrapper:before {
    background: repeating-linear-gradient(90deg,#f0f0f0,#f0f0f0 1px,0,transparent 25%);
}

.ts_watch:first-child {
    border-left: none;
}

.ts_watch {
    width: 25%;
    border-left: 1px solid #f0f0f0;
}

.ts_watch__tile {
    padding: 20px 20px 40px;
}

.sc_watch__label-list {
    padding: 0 21px;
}

.sc_watch__new_label {
    padding: 6px 10px;
    line-height: 1.5;
}
.ts_watch__card img {
    margin-top: 0;
}

.ts_watch img {
    max-width: 290px;
    height: 450px;
}

.ts_watch img {
    max-width: 290px;
    margin: auto;
}

.label-12 {
    font-family: Gotham Bold,Arial,sans-serif;
    font-size: .75rem;
    line-height: 1.66667;
    letter-spacing: .09375rem;
}

.ts_watch__collection {
    font-size: 12px;
    line-height: 1.66667;
    letter-spacing: 1.5px;
    margin-top: 15px;
}

.ts_watch__subcollection {
    font-size: .875rem;
    line-height: 1.71429;
}


.ts_watch__divider {
    margin-top: 21px;
}

.ts_watch__price {
    font-size: .875rem;
    line-height: 1.78571;
    letter-spacing: 3px;
}

.wl_button--tile-cta {
    right: 0.5px;
    bottom: 0;
    transform: translateX(0);
}



}